/*reset do css*/
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body {
  background: rgb(104, 95, 95);
  background-size:auto 100vh;
}

a{
color:black;
}
/*responsividade do site*/
@media (min-width: 400px) {
  font-size:14px;
}

@media (min-width: 600px) {
  font-size:18px;
}


header{
  height:40vh;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

h1 {
  color: #fafafa;
  text-shadow: 3px 3px 3px  #1d1b1b;

}
    h2 {
  color: #fafafa;
  text-shadow: 3px 3px 3px  #1d1b1b;

  }
      p {
  color: #161515;
  background-position: center;
  

  text-align:justify;
  width: 800px;
}


/*aqui começa o menu do nav*/
.menu{
  position:fixed;
  width:100vw;
  top:0;
  z-index: 1;
  margin-left: 250px;
  
  }
  
  nav:after {
    clear: both;
    content: "";
    display: block;
  }
  
  .menu li a {
    text-decoration: none;
    color: #000000;
    transition: .5s;
  }
  
  .menu li a:hover {
    color: #fff;
  }
  
  
  .menu  a{
    text-decoration:none;
    display:block;
    padding:10px 20px;
   
  
  }
  .menu  a:hover{
    
    background-color:#252525;
  }  
  
  .menu li{
    float: left;
  }
  .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  .menu li a{
    display: block;
    color: #1d1b1b;
    text-align: center;
    padding: 14px 16px;
    font-family: arial;
    font-weight:bold;
  }



/*texto central*/ 

.site-title,.site-subtitle{
  text-align:center;
}

.site-subtitle{
  font-style:italic;
}  

/*parte inventada*/ 

/* banner */
#main-banner {
  background: url('donwload.jpg') no-repeat;
  
  background-size: cover;
	background-position: 0 48%;
	position: relative;
    margin-top: 100px;
    width: 1500px;
    text-align: center;
   

  padding-top: 5em;
	padding-bottom: 8em;
	text-align: center;
}


/*parte inventada*/ 




.topicos{
  padding:14px;
  font-family: 'Source Code Pro', monospace;
}

.Tópico1{
margin-top: 100px;    
    
    
    
    
    
}

p{
  
 font-family: 'Source Code Pro', monospace;
}


.grid{
  display:grid;
  gap:1em;
  text-align:center;
  justify-content:center;
  align-content: center;
 }
 
 @media(min-width:560px){
  .grid{
     grid-template-columns:240px 240px;
  }}
  


@media(min-width:760px){
  .grid{
  grid-template-columns:240px 240px 240px;
  text-align: center;
  align-content: center;
  justify-content: center;
  
  }}

  @media(min-width:1024px){
    .grid{
      text-align: center;
      grid-template-columns:240px 240px 240px 240px;
    }}

.img-portfolio{
  width:100%;
  height:180px;
 
  transition: transform 500ms;
}



.contato a {
  color: whitesmoke;
  font-size: 3em;
  opacity: 0.7;
  text-align:right;
  justify-content:right;
  align-content: right;

}
.contato a:hover{
 opacity: 1;
}
.grid-icons{
  text-align:right;
  justify-content:right;
  align-content: right;
}
 .sobre p{

  font-family: 'Source Code Pro', monospace;
 text-indent: 2em;
 margin-bottom: 1.4em;
 text-align: justify;
  margin-left: auto;

  margin-right: auto;
}

 @media(min-width:1200px){
.sobre{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
 }
 



.profile{
  width:180px;
  height:150px;
  float: right;
  margin-left: 2em;
  border-radius: 10%;
}



.parte{
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

